cryptography==2.1
docutils==0.13.1
Fabric3==1.13.1.post1
feedgenerator==1.9
ghp-import==0.5.5
html5lib==0.999999999
httplib2==0.9.1
idna==2.6
jedi==0.10.0
Jinja2==2.8
jsonschema==2.6.0
MarkupSafe==0.23
matplotlib==2.0.0
pelican==3.7.1
pep8==1.7.0
Pillow==3.1.2
pyflakes==1.5.0
Pygments==2.1
pyparsing==2.2.0
reportlab==3.3.0
Unidecode==0.4.21
urllib3==1.13.1
